/// NEW ENERO 2023

/// Anchura automatica
.grid-auto-width {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(10px, 1fr));
}




.grid-2x {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3x {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-between {
    justify-content: space-between;
    align-self: center;
}