#idSection_0 {

    .container-tabla {
        margin: 1em 0;
        text-align: center;

        ul {

            li {
                line-height: 30px;
                text-overflow: ellipsis;
                overflow: hidden;

                &:nth-child(1) {
                    background-color: rgb(163, 178, 189) !important;
                    color: white;
                    padding: 2px;
                    font-size: 12px;
                }

                &:nth-of-type(odd) {
                    background-color: rgb(201, 196, 196);
                }

                &:nth-of-type(even) {
                    background-color: rgb(235, 235, 235);
                }
            }

            .far {
                cursor: pointer;
            }
        }

        span {
            margin: 1em;
            line-height: 30px;
        }
    }

    
    @media only screen and (min-width: 1000px) {
        
        
        
    }

}