#idSection_0 {
    /* padding-bottom: calc(100% + 50px); */

    #idTablaReparto {
        margin-top: 1em;
        margin-bottom: 50px;

        ul {
            text-align: center;
            
            li {
                line-height: 30px;
                text-overflow: ellipsis;

                &:nth-child(1) {
                    background-color: $color_fondo_secundario !important;
                    color: white;
                    padding: 2px;
                    font-size: 12px;
                }

                &:nth-of-type(odd) {
                    background-color: $color_fondo_odd;
                }

                &:nth-of-type(even) {
                    background-color: $color_fondo_even;
                }
            }
        } 
    }
}